@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    size: 100rem;
    padding: 0%;
}

.top {
    position: fixed;
    display: grid;
    width: 100%;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.fondoEnca {
    position: fixed;
    width: 100%;
    background-color: #061562;
}

.enlacesPrin {
    top: 14%;
}

.enlacesNav {
    color: white;
    text-decoration: none;
}

.enlacesNav:hover {
    font-size: 1.6rem;
}

#video_background {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.enlace {
    font-size: 1.4rem;
}

.botonVolverPro {
    width: 30%;
    margin-left: 35%;
}

.header {
    text-align: center;
    padding: 1%;
    background-color: #061562;
    color: white;
    font-weight: bold;
}

.header>h1 {
    font-weight: 600;
    font-size: 3rem;
}

.gridBotones {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    gap: 20px;
    grid-template-areas: 
    "boton1 boton2 boton3";
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

#b1 {
    grid-area: boton1;
}

#b2 {
    grid-area: boton2;
}

#b3 {
    grid-area: boton3;
}

.botonCarrera {
    border: none;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-color: #FF9912;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
}

.contenedorTexto {
    width: 40%;
    position: fixed;
    left: 2%;
}

.tituloCarrera {
    text-align: center;
    font-size: 3rem;
}

.introCarrera {
    text-align: center;
    padding: 10px;
}

.imagen {
    position: fixed;
    right: 2%;
    border-radius: 10%;
}

.botonPlanEstudios {
    font-size: 1.3rem;
    background-color: #061562;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 40%;
    margin-left: 30%;
}

#infoEcoturismo, #infoProgramacion, #infoMineria {
    display: none;
}

.contenedorPlan {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    "tituloC tituloC tituloC"
    "perfil semestres campo"
    "footer semestres campo";
}

.headerPlan {
    grid-area: tituloC;
    background-color: #061562;
    text-align: center;
    color: white;
}

.perfil {
    grid-area: perfil;
    text-align: center;
    margin-top: 2%;
}

.tituloPerfil, .tituloSemestre {
    color: #FF9912;
}

.tituloPerfil {
    font-weight: 800;
}

.tituloSemestre {
    font-weight: 700;
}

.introPlan {
    font-weight: bold;
}

.introPlan, .reqPlan {
    text-align: justify;
    font-size: 1.12rem;
    line-height: 95%;
    margin-left: 5%;
    margin-top: 5%;
}

.campoPlan {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 100%;
    padding: 10px;
    margin-right: 5%;
}

.materias {
    grid-area: semestres;
    text-align: center;
    margin-top: 1%;
}

.contenedorSemetres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "sem1 sem2"
    "sem3 sem4"
    "sem5 sem6";
}

.tituloSem {
    grid-area: titulo
}

.sem1 {
    grid-area: sem1;
}
.sem2 {
    grid-area: sem2;
}
.sem3 {
    grid-area: sem3;
}
.sem4 {
    grid-area: sem4;
}
.sem5 {
    grid-area: sem5;
}
.sem6 {
    grid-area: sem6;
}

.listaSemestre {
    text-align: left;
    margin-left: 10%;
    font-size: 1rem;
    line-height: 95%;
}

.campoTrabajo {
    grid-area: campo;
    margin-top: 3%;
}

.footerPlan {
    grid-area: footer;
    background-color: #061562;
    margin-bottom: 0%;
    border-radius: 20px;
    margin-left: 4%;
}

.volverCarreras {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    margin-left: 18%;
}

.volverCarreras:hover {
    font-size: 1.7rem;
    margin-left: 13%;
    font-weight: bold;
}

.contenedorProgramas {
    background: #061562;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: 
    "side1 side2"
    "footer footer";
}

.eleProgramas {
    text-align: center;
    margin: 4% 3% 4% 3%;
}

#side1 {
    grid-area: side1;
}

#side2 {
    grid-area: side2;
}

#footerProgramas {
    grid-area: footer;
}

.fondoProgramas {
    width: 62%;
    overflow: hidden;
    max-height: 95%;
    margin-left: 20%;
    z-index: -1;
}

.botonVolverCarr {
    z-index: 3;
    position: absolute; 
    width: 40%;
    left: 30%;
    bottom: 3%;
}

.contendorSlide {
    width: 78%;
    overflow: hidden;
    max-height: 95%;
}

#presentacionClub {
    width: 60%;
    max-height: 80%;
    margin-left: 21%;
    margin-top: 2%;
    border-radius: 3%;
}

#tituloInicioClubs {
    font-size: 8rem;
    width: 80%;
    margin-left: 11%;
    color: #da22eb;
}

.textoInformaClub {
    font-size: 1.2rem;
    width: 80%;
    margin-left: 11%;
    color: #90089c;
}

#imagenBanda, #imagenEscolta, #imagenDanzaOtra, #imagenBeisbol, #imagenFutbol, #imagenBasquetbol, #imagenAjerdrez {
    overflow: hidden;
}

#imagenBanda, #textoBanda {
    width: 75%;
    margin-left: 13%;
    margin-top: 2%;
    border-radius: 3%;
}

#imagenEscolta, #textoEscolta {
    width: 62%;
    margin-left: 19%;
    margin-top: 1%;
    border-radius: 5%;
}

#imagenDanzaOtra {
    width: 65%;
    margin-right: 18%;
    margin-top: 1%;
    border-radius: 5%;
    margin-bottom: -10%;
}

#textoDanza {
    width: 80%;
    margin-left: 10%;
}

#imagenBeisbol, #textoBeisbol {
    width: 75%;
    margin-top: 1%;
    border-radius: 5%;
    margin-left: 13%;
}

#imagenFutbol, #textoFutbol {
    width: 65%;
    margin-left: 18%;
    margin-top: 1%;
    border-radius: 5%;
    margin-bottom: -2%;
}

#imagenBasquetbol, #textoBasquetbol {
    width: 65%;
    margin-left: 18%;
    margin-top: 1%;
    border-radius: 5%;
    margin-bottom: -2%;
}

#imagenAjedrez, #textoAjedrez {
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
    border-radius: 5%;
    margin-bottom: -2%;
}

#textoBanda, #textoEscolta, #textoAjedrez, #textoBasquetbol, #textoBeisbol, #textoDanza, #textoFutbol {
    font-size: 1.2rem;
    font-weight: 500;
} 

.tituloClubes {
    font-size: 4rem;
    margin-top: 1%;
    font-weight: 700;
}

.contenedorVideo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
}

#videoPro {
    width: 80%;
    z-index: 2;
    margin-top: 1%;
    margin-left: 10%;
    border-radius: 4%;
}

