@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    size: 100rem;
    padding: 0%;
}

.top {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: 1.5rem;
    background-color: #1DCE10;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: 'Roboto';
}

.logo {
    width: 10%;
    border-radius: 10%;
    text-align: center;
}

.contenedor {
    position: relative;
    z-index: 1;
    width: 100%;
}

#infoEcologica {
    position: absolute;
    z-index: 3;
    right: 1%;
    bottom: 10%;
    width: 3rem;
    height: 40%;
    font-size: 1.3rem;
    display: none;
    background-color: #32e725;
    padding: 1%;
    border-radius: 5%;
    width: 15%;
}

#plantita {
    position: absolute;
    right: 2%;
    bottom: 2%;
    z-index: 2;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 0.5%;
}

.contenedor2 {
    display: grid;
    grid-template-columns: 30% 70%;
}

.contendedorTitulos {
    display: grid;
    grid-template-rows: repeat(33.3%);
}

#datos {
    display: absolute;
    width: 70%;
    margin-right: 1%;
}

.esquinaBoton {
    margin-right: 1%;
}

.botoncito {
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    text-align: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.botoncito:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.botoncito:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.botoncito:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

}

.box {
    padding: 2em;
    border-radius: 5%;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}

#videoPro {
    
}