@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    size: 100rem;
    padding: 0%;
}

.top {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-size: 1.5rem;
    color: aliceblue;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.top>h1 {
    font-size: 3rem;
}

.logo {
    width: 10%;
    border-radius: 10%;
    text-align: center;
}

#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 85%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.enlace {
    font-size: 1.4rem;
}

.info {
    width: 90%;
    margin-left: 5%;
    height: 75%;
    position: absolute;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    display: none;
}

.imagenesEco {
    border-radius: 10%;
}

#eco1 {
    width: 50%;
    margin-left: 25%;
}

#eco2, #eco7, #eco8, #eco9, #eco10, #eco11 {
    margin-left: 30%;
}

#eco3, #eco4 {
    width: 60%;
    margin-left: 20%;
}

#eco5 {
    width: 50%;
    margin-left: 25%;
}

#eco6 {
    width: 40%;
    margin-left: 30%;
}

#plantita {
    position: fixed;
    right: 2%;
    bottom: 2%;
    z-index: 2;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    padding: 0.5%;
}

.contenedorProgramas {
    background-image: linear-gradient(#65f4cd 0%, #4799e9 100%);
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: 
    "side1 side2"
    "footer footer";
    padding: 10px;
}

.eleProgramas {
    text-align: center;
}

#side1 {
    grid-area: side1;
    margin-right: 10px;
}

#side2 {
    grid-area: side2;
}

#footerProgramas {
    grid-area: footer;
}

.botonVolverPro {
    width: 30%;
    margin-left: 35%;
}

#grid-area {
    display: grid;
    height: 95vh;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 80px 1fr 20px;
    grid-template-areas:
        "header header"
        "content aside"
        "footer footer";
    align-content: center;
    overflow-y: visible;
}

#grid-area>header {
    grid-area: header;
    padding: 1%;
    text-align: center;
    vertical-align: center;
    overflow-y: hidden;
    color: aliceblue;
    background-image: url("imgs/fondoCarreras.avif");
}

#grid-area>div {
    grid-area: content;
    padding-top: 10%;
}

#grid-area>aside {
    grid-area: aside;
    margin: 2%;
    padding: 20px;
    font-size: 1.8rem;
    color: azure;
}

#grid-area>footer {
    grid-area: footer;
}

.botonCarrera {
    border: 2px solid black;
    border-radius: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    height: 25%;
    width: 95%;
    padding-top: 8%;
}

.presionarCarrera {
    border: none;
    background-color: aliceblue;
    padding-left: 0%;
    font-size: 1.3em;
}

.presionarCarrera:hover {
    color: rgb(0, 217, 255)
}

.iconoCarrera {
    width: 50px;
    margin-left: 30%;
    padding-right: 0;
}

#datos {
    border-radius: 5%;
    text-align: center;
    font-size: 1.4rem;
    background-repeat: no-repeat;
    background-size: cover;
}

#botonPlanEstudios {
    margin-left: 10%; 
    width: 80%; 
    display: none;
    font-size: 1.3rem;
}

#infoCarreras {
    width: 100%;
    height: 96%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 30px;
}

.fondoProgramas {
    width: 62%;
    overflow: hidden;
    max-height: 95%;
    margin-left: 20%;
    z-index: -1;
}

.botonVolverCarr {
    z-index: 3;
    position: absolute; 
    width: 40%;
    left: 30%;
    bottom: 3%;
}

.botonVolverProgra, .evidencias {
    z-index: 3;
    position: absolute; 
    width: 20%;
    bottom: 1%;
}

.botonVolverProgra {
    left: 20%;
}

.evidencias {
    right: 18%;
}

.contendorSlide {
    width: 78%;
    overflow: hidden;
    max-height: 95%;
}

#presentacionClub {
    width: 60%;
    max-height: 80%;
    margin-left: 21%;
    margin-top: 2%;
    border-radius: 3%;
}

#tituloInicioClubs {
    font-size: 8rem;
    width: 80%;
    margin-left: 11%;
    color: #da22eb;
}

.textoInformaClub {
    font-size: 1.2rem;
    width: 80%;
    margin-left: 11%;
    color: #90089c;
}

#imagenBanda, #imagenEscolta, #imagenDanzaOtra, #imagenBeisbol, #imagenFutbol, #imagenBasquetbol, #imagenAjerdrez {
    overflow: hidden;
}

#imagenBanda, #textoBanda {
    width: 75%;
    margin-left: 13%;
    margin-top: 2%;
    border-radius: 3%;
}

#imagenEscolta, #textoEscolta {
    width: 62%;
    margin-left: 19%;
    margin-top: 1%;
    border-radius: 5%;
}

#imagenDanzaOtra {
    width: 65%;
    margin-right: 18%;
    margin-top: 1%;
    border-radius: 5%;
    margin-bottom: -10%;
}

#textoDanza {
    width: 80%;
    margin-left: 10%;
}

#imagenBeisbol, #textoBeisbol {
    width: 75%;
    margin-top: 1%;
    border-radius: 5%;
    margin-left: 13%;
}

#imagenFutbol, #textoFutbol {
    width: 65%;
    margin-left: 18%;
    margin-top: 1%;
    border-radius: 5%;
    margin-bottom: -2%;
}

#imagenBasquetbol, #textoBasquetbol {
    width: 65%;
    margin-left: 18%;
    margin-top: 1%;
    border-radius: 5%;
    margin-bottom: -2%;
}

#imagenAjedrez, #textoAjedrez {
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
    border-radius: 5%;
    margin-bottom: -2%;
}

#textoBanda, #textoEscolta, #textoAjedrez, #textoBasquetbol, #textoBeisbol, #textoDanza, #textoFutbol {
    font-size: 1.2rem;
    font-weight: 500;
} 

.tituloClubes {
    font-size: 4rem;
    margin-top: 1%;
    font-weight: 700;
}

.contenedorVideo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
}

#videoPro {
    width: 76%;
    margin-top: 1%;
    overflow: hidden;
    margin-left: 12%;
    border-radius: 3%;
}

.botonRegresoVideo {
    width: 40%;
    margin-left: 30%;
    padding: 5px;
}